.formDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.inputDiv input {
    border: 2px solid gray;
    border-radius: 5px;
    color: white;
    padding: 2%;
    background-color: black;
    width: 80%;
    min-width: fit-content;
    max-width: 300%;
}